body {
    font-family: "Microsoft JhengHei", sans-serif;
}

#wrapper {
    min-height: 100vh;
}

#sidebar {
    width: 230px;
}

#sidebar .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

.card {
    border-radius: 12px;
}